{% extends "layout.html.twig" %}

{% block title %}{% if setting.settings|length > 0 %}{{ setting.settings.companyName }}{% else %}Název firmy není dostupný{% endif %}{% endblock %}

{% block content %}
    <div class="row justify-content-center">
    <div class="col col-lg-10 ">
    Náhodné číslo je: {{ twigVar }}, Dobrý ne <div class="fa fa-smile">?
    </div>
    </div>


{% endblock %}