{#
/**
 * @file
 * Twitter Bootstrap - Font Awesome Sorting control implementation.
 *
 * @author Rodrigo Régis Palmeira <regisbsb@gmail.com>
 */
#}
<a{% for attr, value  in options %} {{ attr }}="{{ value }}"{% endfor %}>
    <span class="float-right" style="margin-left: 1rem;">
        {% if sorted %}
            {% if direction == 'desc' %}
                <i class="fa fa-long-arrow-alt-down"></i>
            {% else %}
                <i class="fa fa-long-arrow-alt-up"></i>
            {% endif %}
        {% else %}
            <i class="fa fa-long-arrow-alt-down"></i>
            <i class="fa fa-long-arrow-alt-up"></i>
        {% endif %}
    </span>
    {{ title }}
</a>
