<div class="col col-xl-2 col-lg-12">
    <div class="card">
        <div class="card-header">Zástupné symboly</div>
        <div class="card-body">
            Pro odkaz na aktuální šablonu:<br><b>%sablona%</b>
        </div>
        {{ form_end(form) }}
    </div>
</div>
