{% extends 'layout.html.twig' %}

{% block content %}
    <div class="row justify-content-center">
        <div class="col col-lg-5 col-md-8">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title">{% trans %}Přihlášení{% endtrans %}</h5>
                </div>
                <div class="card-body">
                    {% if error %}
                        <div class="alert alert-danger" role="alert">
                            {{ error.messageKey }}
                        </div>
                    {% endif %}
                    <form action="{{ path('login') }}" method="POST">
                        <div class="form-group">
                            <label for="_username is-invalid">{% trans %}Přihlašovací jméno{% endtrans %}</label>
                            <input type="text" class="form-control" name="_username" value="{{ lastUsername }}" id="_username">
                        </div>
                        <div class="form-group">
                            <label for="_password">{% trans %}Heslo{% endtrans %}</label>
                            <input type="password" class="form-control" name="_password" id="_password">
                        </div>
                        <div class="form-group">
                            <a href="{{ path('app_forgot_password_request') }}">{% trans %}Zapomněli jste heslo?{% endtrans %}</a>
                        </div>
                        <button type="submit" class="btn btn-primary">{% trans %}Zaregistrovat{% endtrans %}</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}