@import '~datatables.net-bs4';

.custom-select {
  background: white;
}

table.table-bordered.dataTable th:last-child, table.table-bordered.dataTable th:last-child, table.table-bordered.dataTable td:last-child, table.table-bordered.dataTable td:last-child {
  border-right-width: 1px;
}

table.table-bordered.dataTable tbody th, table.table-bordered.dataTable tbody td {
  border-bottom-width: 1px;
}

table.dataTable {
	border-collapse: collapse !important;

	tr {
		background: none !important;

		td {
			background: none !important;
		}
	}
}

div.sirka-1 {
	position: relative;
	top: 23px;
	left: 160px;
	width: 500px;
}

div.sirka-2 {
	position: relative;
	top: 55px;
}