@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.body {
  background: #c2c2c2;
  font-family: Roboto;
}

.form-group-inlined button {
  width: 100%;
  margin-top: 24px;
}

.form-row-columns-align-sides .col:first-child {
  padding-left: 0px;
}

.form-row-columns-align-sides .col:last-child {
  padding-right: 0px;
}

.card .card-body {
  overflow: auto;

}

.card .card-body .form-group:last-child {
  margin-bottom: 0px;
}

.form-subitem {
  margin-top: 5px;
}

.nowrap {
  white-space: nowrap;
}

.row {
  margin-left: 0px !important;
  margin-right: 0px !important;
}

.navbar {
  border: none;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
  font-family: Roboto;
  padding: 0px;
  padding-right: 0.5em;

  .navbar-nav {
    height: 100%;
  }

  .btn.btn-navbar {
    display: inline-block;
    border: none;
    color: white;
    height: 100%;
    border-radius: 0px;
    padding: 1em;
    background: #f3333f;

    i {
      transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
      transition-property: color, background-color, border-color, box-shadow;
      transition-duration: 0.15s, 0.15s, 0.15s, 0.15s;
      transition-timing-function: ease-in-out, ease-in-out, ease-in-out, ease-in-out;
      transition-delay: 0s, 0s, 0s, 0s;
    }

    &:hover {
      color: black;
      background: white;

      i {
        color: black !important;
      }
    }
  }

  .navbar-brand, .navbar-nav {
    padding: 1em;
  }
}

.navbar-dark {
  background-color: #E8212E !important;
}

.card {
  border-radius: 5px;
  overflow: hidden;
  border: none;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);

  .card-header {
    background: #f3f3f3;
    color: black;
    border: none;

    .card-title {
      margin: 0px;
    }
  }
}

.alert {
  padding-right: 2.5rem;
  border: none;
}

.alert,
.alert h1,
.alert h2,
.alert h3,
.alert h4,
.alert h5,
.alert h6 {
  color: #fff;
}

.alert-primary {
  background: #2196f3;
}

.alert-secondary {
  background: #fff;
}

.alert-success {
  background: #4caf50;
}

.alert-info {
  background: #9c27b0;
}

.alert-warning {
  background: #ff9800;
}

.alert-danger {
  background: #e51c23;
}

.alert-light {
  background: #fff;
}

.alert-dark {
  background: #222;
}

.dt-hide-filter .dataTables_wrapper .row:first-child {
  display: none;
}

i[data-toggle=tooltip] {
  cursor: pointer;
}

.card .card-header .text-warning {
  color: #987406 !important;
}

.card.bg-warning .card-body {
  background: #ffeeba !important;
}

.list-group.with-action {
  .list-group-item {
    padding: 0.25rem;
    display: flex;
    white-space: nowrap;

    .title {
      flex: 1;
      align-self: center;
      padding-left: 0.25rem;
      padding-right: 0.25rem;
    }

    .action {
      flex: 0;
      align-self: center;
    }
  }
}

.navbar-nav .nav-link {
  color: rgba(255, 255, 255, 0.89) !important;
}

.navbar-nav .nav-link:hover {
  color: white !important;
}

nav i {
  color: rgba(255, 255, 255, 0.89) !important;
}

nav i:hover {
  color: white !important;
}

.card .nav {
  font-size: 0.7em;
}

.alert .col {
  border-right: 1px solid gray;
}

.alert.alert-warning, .alert.alert-danger {
  .col {
    border-right: 1px solid white;

    a {
      color: white !important;
    }
  }

  .close {
    color: white;
  }
}

.alert .col:last-child {
  border-right: none;
}

.alert i.fa {
  padding-right: 5px;
  vertical-align: center;
}