{% extends 'layout.html.twig' %}

{% block title %}Obnova hesla - informace zaslány na váš email{% endblock %}

{% block content %}
    <p>Na Váš email byl odeslán odkaz, který Vám umožní zadat nové heslo. Tento odkaz bude zneplatněn za jednu hodinu.{% endtrans %}</p>
    <p>Jestliže email nebyl dopručen, prosím zkontrolujte i nevyžádanou poštu (SPAM) nebo můžete <a href="{{ path('app_forgot_password_request') }}">zkusit znovu obnovu hesla</a>.</p>
{% endblock %}
