{% extends 'layout.html.twig' %}

{% block title %}{% trans %}Obnova hesla{% endtrans %}{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col col-lg-4 col-md-5">
        <div class="row">
            <div class="alert alert-warning" style="width: 30rem;">
    {{ form_start(resetForm) }}
        {{ form_rest(resetForm) }}
            <div class="separator"></div>
            <div class="text-center"><button class="btn btn-success">{% trans %}Změnit heslo{% endtrans %}</button></div>
    {{ form_end(resetForm) }}
            </div>
        </div>
    </div>
</div>
{% endblock %}
