<div class="modal-header"><h4 class="modal-title">Zvolte recenzenta</h4>
    <button type="button" class="close" data-dismiss="modal">&times;</button></div>
<div class="modal-body">
    <div class="text-center">
        {{ form_start(form, {action: app.request.uri}) }}
        {{ form_rest(form) }}
        {{ form_end(form) }}
    </div>
</div>
<div class="modal-footer">
    <div class="row">

    </div>
</div>
