<div class="card">
    <div class="card-header">
        <h5 class="card-title">{% trans %}Zvolte Vaše rozhodnutí:{% endtrans %}</h5>
    </div>
    <div class="card-body">
        <div class="form-group row form-group-inlined">
            <div class="col-md-12 nowrap">
                {{ form_start(form) }}
                {{ form_rest(form) }}
                {{ form_end(form) }}
            </div>
        </div>
    </div>
</div>
