{% if article.currentAttachment is not null %}
    <a href="{{ path('app_file_downloadattachment', {fileAttachment: article.currentAttachment.id}) }}"
       title="Stáhnout článek">{{ article.name }}</a>
{% else %}
    <abbr title="Článek není dostupný">{{ article.name }}</abbr>
{% endif %}