{% extends 'layout.html.twig' %}

{% block content %}
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header"><h4>Detail článku {{ article.name }}</h4></div>
                <div class="card-body">
                {% if(article.reviews|length > 0) %}
                    <div class="row">
                    {% for review in article.reviews %}
                        <div class="col">
                        {% include 'review/show_review_ajax.html.twig' %}
                        </div>
                    {% endfor %}
                    </div>
                {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block title %}
    Detail článku
{% endblock %}

